@-webkit-keyframes spaceboots,
@-moz-keyframes spaceboots,
@keyframes spaceboots {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
    -moz-transform: translate(2px, 1px) rotate(0deg);
    -o-transform: translate(2px, 1px) rotate(0deg);
    -ms-transform: translate(2px, 1px) rotate(0deg);
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    -moz-transform: translate(-1px, -2px) rotate(-1deg);
    -o-transform: translate(-1px, -2px) rotate(-1deg);
    -ms-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    -moz-transform: translate(-3px, 0px) rotate(1deg);
    -o-transform: translate(-3px, 0px) rotate(1deg);
    -ms-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
    -moz-transform: translate(0px, 2px) rotate(0deg);
    -o-transform: translate(0px, 2px) rotate(0deg);
    -ms-transform: translate(0px, 2px) rotate(0deg);
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    -moz-transform: translate(1px, -1px) rotate(1deg);
    -o-transform: translate(1px, -1px) rotate(1deg);
    -ms-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    -moz-transform: translate(-1px, 2px) rotate(-1deg);
    -o-transform: translate(-1px, 2px) rotate(-1deg);
    -ms-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    -moz-transform: translate(-3px, 1px) rotate(0deg);
    -o-transform: translate(-3px, 1px) rotate(0deg);
    -ms-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
    -moz-transform: translate(2px, 1px) rotate(-1deg);
    -o-transform: translate(2px, 1px) rotate(-1deg);
    -ms-transform: translate(2px, 1px) rotate(-1deg);
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    -moz-transform: translate(-1px, -1px) rotate(1deg);
    -o-transform: translate(-1px, -1px) rotate(1deg);
    -ms-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
    -moz-transform: translate(2px, 2px) rotate(0deg);
    -o-transform: translate(2px, 2px) rotate(0deg);
    -ms-transform: translate(2px, 2px) rotate(0deg);
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    -moz-transform: translate(1px, -2px) rotate(-1deg);
    -o-transform: translate(1px, -2px) rotate(-1deg);
    -ms-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.shake {
  display: inline-block;
}
.shake:hover {
  -webkit-animation: spaceboots 0.8s linear infinite;
  -moz-animation: spaceboots 0.8s linear infinite;
  -o-animation: spaceboots 0.8s linear infinite;
  -ms-animation: spaceboots 0.8s linear infinite;
  animation: spaceboots 0.8s linear infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.shakeAndStopOnHover {
  display: inline-block;
}
.shakeAndStopOnHover:hover {
  -webkit-animation: spaceboots 0.8s linear infinite;
  -moz-animation: spaceboots 0.8s linear infinite;
  -o-animation: spaceboots 0.8s linear infinite;
  -ms-animation: spaceboots 0.8s linear infinite;
  animation: spaceboots 0.8s linear infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.shakeAndStopOnHover:hover {
  -webkit-transform: translate(0px, 0px) rotate(0deg);
  -moz-transform: translate(0px, 0px) rotate(0deg);
  -o-transform: translate(0px, 0px) rotate(0deg);
  -ms-transform: translate(0px, 0px) rotate(0deg);
  transform: translate(0px, 0px) rotate(0deg);
}
body {
  background: #1c1d22;
  color: #f7f9f8;
  font-size: 1em;
  font-weight: 300;
}
.spacedbox {
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.divider {
  border-bottom: 10px solid #090A0A;
}
.container-fluid {
  padding: 0;
}
.sidebar {
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sidebar h1 {
  margin: 50px 0 10px;
}
.content {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}
.sitefooter {
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #2a2d34;
  box-shadow: inset 0 8px 16px rgba(0, 0, 0, 0.8);
}
.link {
  color: #4993c2;
}
.link:hover {
  text-decoration: none;
}
.title {
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 767px) {
  .title {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 766px) {
  .title {
    font-size: 100%;
  }
}
.title a:hover {
  color: inherit;
  cursor: pointer;
}
.maintitle {
  color: #ffffff;
  font-size: 2em;
  line-height: 2;
}
.maintitle:hover b {
  color: #f7f9f8;
}
a {
  color: #4993c2;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 767px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 766px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 100%;
  }
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: inherit;
  cursor: pointer;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
article {
  background: #ffffff;
  color: #15161a;
}
article header {
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #375e99;
  color: #f7f9f8;
  font-size: 160%;
  font-weight: 300;
}
article header a {
  color: inherit;
}
article header p {
  font-size: 70%;
  line-height: 1.3;
}
article nav {
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #dbe5f1;
  color: #15161a;
}
article .text {
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  color: #15161a;
  font-weight: normal;
}
article .text p,
article .text ul {
  margin-top: 20px;
  margin-bottom: 20px;
}
article footer {
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #2a2d34;
  color: #f7f9f8;
  line-height: 50px;
  padding-top: 0;
  padding-bottom: 0;
}
article footer .tags {
  text-align: right;
}
article footer .tags a {
  color: inherit;
}
article:not(:last-child) footer {
  border-bottom: 10px solid #090A0A;
}
aside {
  background: #dbe5f1;
  color: #15161a;
}
.prettyprint {
  max-height: 395px;
  overflow: scroll;
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }
  .facebookframe {
    width: 100%;
    margin-left: 0px;
  }
}
