<header><h1>My projects</h1></header>

<h2><a href="/bootstrap-your-django-admin-in-3-minutes/">django-admin-bootstrapped</a></h2>
<p>Bootstrap your Django admin app in 3 minutes.<br>
<a href="/bootstrap-your-django-admin-in-3-minutes/">Looking for contributors!</a></p>
<iframe src="http://ghbtns.com/github-btn.html?user=riccardo-forina&repo=django-admin-bootstrapped&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>

<h2><a href="/status/">Status.js</a></h2>
<p>Check your website for broken links with jQuery.<br>
See <a href="/check-your-website-for-broken-links-with-jquery/">how status.js works</a> or check the <a href="/status/">live demo</a></p>
<iframe src="http://ghbtns.com/github-btn.html?user=riccardo-forina&repo=status-jquery-crawler&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
