<div class="vcard">
    <p>Hi! My name is <a rel="author" class="url fn" href="https://plus.google.com/118111415240450159923/posts">Riccardo Forina</a>.</p>

    <p>I'm a front-end and back-end developer with strong operations management skill.</p>

    <p>What I like: python, OpenSource, <small>javascript, Django, angular.js<small>a shell, git, <small>linux, <small>jQuery, LESS...</small></small></small></small></p>

    <p>If you want to contact me, you can do so through <a class="Riccardo Forina LinkedIn" href="http://www.linkedin.com/in/riccardoforina">LinkedIn</a>, <a title="Riccardo Forina Google+" href="https://plus.google.com/118111415240450159923/about">Google+</a> or <a title="Riccardo Forina twitter" href="http://twitter.com/riccardoforina">Twitter</a>.</p>

    <h1><a href="{{ url_for('resume') }}">Résumé</a></h1>
    <p><a href="{{ url_for('resume') }}">See online</a> or <a href="{{ url_for('static', filename='Riccardo Forina\'s Resume.pdf' )}}">download as PDF</a></p>
</div>