<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block metatitle %}{% if page %}{{ page.title }} - {% endif %}Python / Javascript / Django coding notes by Riccardo Forina{% endblock metatitle %}</title>
    <meta name="description" content="{% block metadescription %}Coding notes about web development done with Python, Django and Javascript.{% endblock metadescription %}">
    <meta name="author" content="Riccardo Forina">
    <meta name="msvalidate.01" content="92456732CB2C6346C924186C507FE8F1" />
    <meta property="fb:admins" content="750669272" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">

    <link rel="canonical" href="https://riccardo.forina.me{{ request.path }}" />

    <link href="{{ url_for('site_feed') }}" rel="alternate" title="Coding notes by Riccardo Forina" type="application/atom+xml">

    {% assets filters="scss,cssmin", output="build/main.css",
          "css/icons.css", "css/style.scss" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <link rel="shortcut icon" href="{{ url_for('static', filename="icons/favicon.ico") }}">

    {% if not config.DEBUG %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33772592-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endif %}
  </head>
<body>

  {% block content %}

  {% endblock %}

  <footer>
    <p class="wrapper">Authored by <a href="https://plus.google.com/u/0/+RiccardoForina?rel=author">Riccardo Forina</a> - Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.</p>
  </footer>

  {% assets filters="jsmin", output="build/main.min.js",
          "js/jquery.min.js", "js/waypoints.min.js", "js/main.js" %}
  <script type="text/javascript">
   // Add a script element as a child of the body
   function downloadJSAtOnload() {
   var element = document.createElement("script");
   element.src = "{{ ASSET_URL }}";
   document.body.appendChild(element);
   }
   // Check for browser support of event handling capability
   if (window.addEventListener)
   window.addEventListener("load", downloadJSAtOnload, false);
   else if (window.attachEvent)
   window.attachEvent("onload", downloadJSAtOnload);
   else window.onload = downloadJSAtOnload;
  </script>
  {% endassets %}
</body>
</html>
