<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block metatitle %}{% if page %}{{ page.title }} - {% endif %}Python / Javascript / Django coding notes by Riccardo Forina{% endblock metatitle %}</title>
    <meta name="description" content="{% block metadescription %}Coding notes about web development done with Python, Django and Javascript.{% endblock metadescription %}">
    <meta name="author" content="Riccardo Forina">
    <meta name="msvalidate.01" content="92456732CB2C6346C924186C507FE8F1" />
    <meta property="fb:admins" content="750669272" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">

    <link rel="canonical" href="https://riccardo.forina.me{{ request.path }}" />

    <link href="{{ url_for('site_feed') }}" rel="alternate" title="Coding notes by Riccardo Forina" type="application/atom+xml">

    <link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/icons.css") }}">
    {% if config.DEBUG %}
    <link rel="stylesheet" href="{{ url_for('static', filename="css/style.css") }}">
    {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename="css/style.min.css") }}?20131028">
    {% endif %}
    <link rel="shortcut icon" href="{{ url_for('static', filename="icons/favicon.ico") }}">

    {% if not config.DEBUG %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33772592-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endif %}
  </head>
<body>

  {% block content %}

  {% endblock %}

  <footer>
    <p class="wrapper">Authored by <a href="https://plus.google.com/u/0/+RiccardoForina?rel=author">Riccardo Forina</a> - Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.</p>
  </footer>

  <script src="//google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=desert"></script>
  <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="{{ url_for('static', filename="js/main.js") }}?20131028"></script>
</body>
</html>
