{% extends "base.html" %}

{% block content %}
  <header>
    <div class="wrapper">
      <h1>Riccardo Forina</h1>
      <ul class="nav nav--fit main-nav">
        <li><a href="{{ url_for('resume') }}"><i class="icon-user"></i> About me</a></li>
        <li class="text--right"><a href="{{ url_for('projects') }}"><i class="icon-layers"></i> My projects</a></li>
      </ul>
    </div>
  </header>
  <main>
  {% with pages=pages  %}
      {% include "_list.html" %}
  {% endwith %}
  </main>
{% endblock content %}
