{% extends "base.html" %}

{% block metadescription %}{{ page.title }}, {{ page.abstract|striptags }}{% endblock metadescription %}

{% block content %}
<main>
  <article>
    <div class="top-nav">
      <header>
        <h1>
          {{ page.title }}
        </h1>
        <p>{{ page.abstract|safe }}</p>
        <div class="wrapper">
          <ul class="nav nav--fit main-nav">
            <li class="flyout one-third">
              <i class="icon-list"></i> Quick navigation
              <div class="flyout__content">
                <ul class="nav quick-nav">
                  <li><a href="#"><i class="icon-tag-fill"></i> Top</a></li>
                </ul>
              </div>
            </li>
            <li class="text--center one-third"><i class="icon-chat-alt-fill" style="display:inline-block;"></i> <a href="#disqus_thread"  style="display:inline-block;">Loading comments...</a></li>
            <li class="text--right one-third"><a href="http://www.twitter.com/share?url={{ url_for("page", path=page.path, _external=True) | urlencode }}"><i class="icon-twitter"></i> Share</a></li>
          </ul>
        </div>
      </header>
      {% include "_commonnav.html" %}
    </div>
    
    <div class="wrapper">
      <p><small>
        Posted <abbr class="published" title="{{ page.date.isoformat() }}">{{ page.date.strftime('%B %dth, %Y') }}</abbr>
        {% if page.tags|length %}in
          {% for page_tag in page.tags %}
          <a class="badge" href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag }}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
        {% endif %}
      </small></p>
      {{ page.html|safe }}
    </div>
  </article>

  <aside class="comments">
    <a class="qna" name="comments"></a>
    <div class="wrapper">
      <h2>Get involved</h2>
      <p>Feel free to leave your comment, but please remember that these thoughts and opinions are my own, and not that of my employer.</p>
      <div id="disqus_thread"></div>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
  </aside>
</main>
<script>
  var disqus_url = '{{ url_for("page", path=page.path, _external=True) }}';
</script>
{% endblock content %}
