{% extends "base.html" %}

{% block metadescription %}{{ page.abstract|striptags }}{% endblock metadescription %}

{% block content %}
<main>
  <article>
    <header>
      <div class="wrapper">
        <h1>{{ page.title }}</h1>
        <ul class="nav nav--fit main-nav">
          <li class="flyout">
            <i class="icon-list"></i> Quick navigation
            <div class="flyout__content">
              <ul class="nav quick-nav">
                <li><a href="#"><i class="icon-tag-fill"></i> Top</a></li>
              </ul>
            </div>
          </li>
          <li><i class="icon-chat-alt-fill" style="display:inline-block;"></i> <a href="#disqus_thread"  style="display:inline-block;">Loading comments...</a></li>
          <li><a href="#comments"><i class="icon-pen-alt-fill"></i> Add a comment</a></li>
          <li class="text--right"><a href="{{ url_for('index')}}"><i class="icon-home"></i></a></li>
        </ul>
      </div>
    </header>
    <div class="wrapper">
      <p>{{ page.abstract|safe }}</p>
      {{ page.html|safe }}
    </div>
  </article>

  <aside class="comments">
    <a class="qna" name="comments"></a>
    <div class="wrapper">
      <h2>Get involved</h2>
      <p>Feel free to leave your comment, but please remember that these thoughts and opinions are my own, and not that of my employer.</p>
      <div id="disqus_thread"></div>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
  </aside>
</main>
{% endblock content %}
